configstore
fish/config.fish
fish/fish_history
fish/fish_plugins
fish/fish_variables
fish/fishd*
fish/generated_completions
httpie/version_info.json
npm/npmrc
op/
raycast/config.json
raycast/extensions/
asciinema/install-id
